.footer{
    background-color: var(--footer-bg);
    color: white;
    padding: 0 40px;
    font-family: sans-serif;
    font-size: 14px;
    
}
.footer-top-grid{
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 5px ;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.social-logo{
    display: flex;
    align-items: center;
    gap: 20px;
}
.fifa-logo img{
    filter: brightness(0) invert(1);
    height: 50px;
    width: 50px;
}
.social-icons span:first-child{
    padding-left: 30px;
}
.social-icons span{
    margin-right: 10px;
    cursor: pointer;
    font-size: 14px;
   
}

.social-icons span:last-child{
    padding-left: 1000px;
}
.footer-apps img{
    height: 40px;
    margin-left: 20px;
    width: 40px;
    filter: brightness(0) invert(1);
}
.fifa-partners{
    text-align: center;
    padding: 10px 0;
}

.fifa-partners span img{
    height: 50px;
    width: 50px;
}

.fifa-partners span:first-child{
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

.footer-partner-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 10px;
    justify-items: center;
}

.footer-links{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px 0;
    font-size: 16px;
}

.footer-links a{
    color: white;
    text-decoration: none;
}

.footer-bottom-row{
    text-align: center;
    font-size: 12px;
    padding-top: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    display: flex;
    justify-content: space-between;
}

span img{
    filter: brightness(0) invert(1);
    height: 100px;
    width: 100px;
}
span svg{
    filter: brightness(0) invert(1);
    
}