.web-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px 20px;
    /* color: white;
    background-color: rgb(0, 57, 166); */
    color: var(--text-color);
    background-color: var(--header-bg);
    color: var(--header-text-color);
    
}


.header-left {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.logo {
    margin: 0;
    font-size: 1.5rem;
    font-weight: bold;
}

.web-header nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.web-header nav a {
    color: white;
    text-decoration: none;
}

.header-right {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.btn-left {
    border: none;
    padding: 2px;
    cursor: pointer;
    align-items: baseline;
    gap: 1rem;
    background-color: var(--button-bg);
    border-radius: 110px;
    color: white;
}

.btn-left:focus {
    outline: none;
    box-shadow: none;
}

.btn-right {
    background-color: var(--button-bg);
    border: none;
    padding: 5px;
    cursor: pointer;
    align-items: baseline;
    gap: 1rem;
    color: white;
    
}

.btn-right:focus {
    outline: none;
    box-shadow: none;
}

.theme-toggle-btn{
    border: none;
    padding: 2px;
    cursor: pointer;
    align-items: baseline;
    gap: 1rem;
    background-color: var(--button-bg);
    border-radius: 110px;
    color: white;
}

.theme-toggle-btn:focus{
    outline: none;
    box-shadow: none;
}