.highlight-cards {
    margin: 20px auto;
    padding: 10px;
    border-radius: 12px;
    font-family: sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.highlight-card {
    
    width: 510px;
    color: var(--title-color);
    margin: 10px;
    gap: 20px;
    transition: transform 0.3s ease;
}

.highlight-card:hover {
    cursor: pointer;
    transform: scale(1.02); 
}

img {
    width: 510px;
}

.highlight-card p {
  margin-top: 8px;
  font-size: 0.95rem;
  line-height: 1.4;
}