.highlight-cards{
    margin: 40px auto;
    padding: 20px;
    border-radius: 12px;
    font-family: sans-serif;
    display: flex;
    justify-content:center;
    gap: 10px;
}
.highlight-card{
    width: 450px;
    color: black;
    margin: 20px;
    gap: 20px;
}

.highlight-card:hover{
    cursor: pointer;
}
img{
    width: 450px;
}
