.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, auto));
  gap: 100px;
  padding: 20px 20px;
  background: var(--bg-color);
  font-family: "Helvetica Neue", sans-serif;
  max-width: 1000px;
  margin: 0 auto;
 
}

.card {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
  padding: 24px;
  min-width: 450px;
  max-width: 300px;
  width: 100%;
  color: black;

}

h3 {
  margin: 0 0 10px 0;
  font-size: 20px;
  font-weight: 700;
  color: var(--text-color);
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  border-radius: 10px;
}

th {
  font-size: 14px;
  color: #888;
  font-weight: 600;
  text-align: left;
  padding: 10px 8px;
  
}

td {
  padding: 12px 8px;
  font-size: 15px;
  font-weight:bold;


}

tbody tr:last-child td {
  border-bottom: none;
  margin: 3px;
  
}
tbody tr:hover  {
  border: 1px solid blue;
  border-radius: 10px;
}


td:nth-child(2) {
  font-weight: 600;
  color: #1c1c1c;
}

td:nth-child(3),
td:nth-child(4) {
  text-align: right;
  color: grey;
}

th:nth-child(3),
th:nth-child(4) {
  text-align: right;
}

button{
  background-color: #e6f1fd;
  padding: 10px;
  color: rgb(62, 62, 235);
  font-weight: 700;
  border: 1px solid rgb(62, 62, 235) ;
  margin: 15px;
}
