:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /* background-color: #242424; */
  background-color: #e6f1fd;
  --container-bg: #e6f1fd;
  --root-bg: rgb(204, 217, 242);
  --title-color: black;
  

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* theme css */
  --bg-color: #e6f1fd;
  --text-color: #000000;
  --header-bg: rgb(0, 57, 166);
  --header-text-color: white;
  --button-bg: rgb(0, 57, 166);
  --hero-bg: rgb(0, 57, 166);
  --footer-bg: rgb(0, 57, 166);
}
[data-theme='dark'] {
  --bg-color: #121212;
  --text-color: #f0f0f0;
  --header-bg: #1e293b; /* dark header background */
  --button-bg: #1e293b;
  --hero-bg: #1e293b;
  --footer-bg: #1e293b;

  --container-bg: #121212;
  --root-bg: #1e1e1e;
  --title-color: #ffffff;
}

.theme-toggle-btn {
  background: none;
  border: 1px solid var(--text-color);
  padding: 0.5em 1em;
  cursor: pointer;
  color: var(--text-color);
  margin-left: auto;
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;

  /* theme css */
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

